---
import Section from "../../layouts/Section.astro";
import Subtitle from "../Subtitle.astro";
import ItemCertifications from "./ItemCertifications.astro";

---

<Section id="Certifications">
  <Subtitle>
    Cursos y Certificaciones
  </Subtitle>
  <ul>
    <ItemCertifications />
  </ul>
</Section>