---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar/Navbar.astro';
import Me from '../components/me/Me.astro';
import MyHistory from '../components/my-history/MyHistory.astro';
import CoursesCertifications from '../components/courses-certifications/CoursesCertifications.astro';
import WorkExperience from '../components/work-experience/WorkExperience.astro';
---

<Layout title="Porfolio Eladio Feijóo.">
	<Navbar />
		<main>
			<Me />
			<MyHistory collapse={false} />
			<CoursesCertifications />
			<WorkExperience />
		</main>
</Layout>

<style>
	
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 900px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
</style>
