---
import Section from "../../layouts/Section.astro";
import Subtitle from "../Subtitle.astro"
import AParagraph from "./AParagraph.jsx"
import MultipleParagraphs from "./MultipleParagraphs.jsx";
import ToggleButton from "./ToggleButton";
---

<Section id="my-history">
  <Subtitle>Mi Historia</Subtitle>
  <AParagraph client:load />
  <ToggleButton client:load />
  <MultipleParagraphs client:load />
</Section>
