---


---
<nav id="nav" class="display-none">
  <ul>
    <li><a href="#my-history">Mi Historia</a></li>
    <li><a href="#">Cursos y Certificaciones</a></li>
    <li><a href="#">Experiencia Laboral</a></li>
    <li><a href="#">Desarrollos</a></li>
  </ul>
</nav>

<style>
  .display-none{
    display: none;
  }
  .display-block {
    display: block;
  }
  nav {
    position: absolute;
    background-color: var(--color-gray-dark);
    padding: 1rem;
    border-radius: 5px;
    top: 70px;
    right: 0;
    z-index: 1;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--color-orange);
    font-size: 18px;
    
  }

  a:hover{
    color: var(--color-gray-light);
    background-color: var(--color-orange);
    border-radius: 4px;
    
  }

  @media screen and (min-width: 700px) {
  nav {
    display: block !important;
    position: static; 
    border-radius: 0;
    z-index: 0;
    background-color: transparent

  }

  ul {
    flex-direction: row;
  }

  a {
    color: var(--color-orange);
    padding: 8px;
    transition: color .7s, background-color .7s;
  }
}

@media (prefers-color-scheme:dark){
  nav {
    background-color: var(--color-orange);
  }
  a {
    color: var(--color-gray-dark);
  }
  a:hover{
    color: var(--color-gray-light);
    background-color: var(--color-gray-dark);
    border-radius: 4px;
    
  }
}

 
</style>