
<button class="button">
  <slot />
</button>

<style>
.button {
  margin: 0;
  padding: .7rem 1.5rem;
  border: 2px solid var(--light-accent);
  border-radius: 8px;
  background-color: transparent;
  color: var(--light-accent);
}

.button:hover {
  background-color:var(--light-accent);
  color: var(--light-bg-color);
}

.button:active {
  background-color: transparent;
  color: var(--light-accent);
}

@media (prefers-color-scheme:dark){
    .button {
      border-color: var(--dark-accent);
      background-color: transparent;
      color: var(--dark-accent);
    }

    .button:hover {
      background-color: var(--dark-accent);
      color: var(--dark-bg-color);
    }
    .button:active {
      background-color: transparent;
      color: var(--dark-accent);
    }
  }
  @media screen and (min-width: 600px) {
    .button {
      padding: 1rem 3rem;
      font-size: var(--font-size-4);
    }
  } 
</style>