<h2>
  <slot />
</h2>

<style>
  h2 {
    font-size: var(--font-size-4);
    color: var(--light-font-title);
    line-height: 2;
  }

  @media (prefers-color-scheme:dark){
    h2 {
      color: var(--dark-font-title);
    }
  }
  @media screen and (min-width: 600px) {
    h2{
      font-size: var(--font-size-5)
    }
  } 
</style>