---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);

		--color-back: #0F0F0F;
		--color-gray-dark: #232225;
		--color-gray: #e8e4e1;
		--color-gray-light: #CECECE;
		--color-orange: #E35C10;

		--color-fra-base: #BEC092;
		--color-fra-title: #54582f;
		--color-fra-paragraph: #272b00;



		--font-size-6: 48px;
		--font-size-5: 28px;
		--font-size-4: 24px;
		--font-size-3: 18px;
		--font-size-2: 16px;
		--font-size-1: 14px;

		--light-font-paragraph: var(--color-fra-paragraph);
		--light-font-title: var(--color-fra-title);
		--light-bg-color:var(--color-fra-base);
		--light-accent:var(--color-fra-title);

		--dark-font-paragraph: var(--color-gray);
		--dark-font-title: var(--color-orange);
		--dark-bg-color:var(--color-gray-dark);
		--dark-accent:var(--color-orange)


	}
	html {
		
		font-family: "Roboto", system-ui, sans-serif;
		background-color: var(--light-bg-color);
		color: var(--light-font-paragraph)
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: content-box;
	}

	

	@media (prefers-color-scheme:dark){
		html {
			background-color: var(--dark-bg-color);
			color: var(--dark-font-paragraph);
		}
  }
</style>
